
.sections {
    display: table;
    width: 100%;
}
section {
    min-height: 200px;
    position: relative;
    ul {
        margin: 0;
    }
    .wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
}

.map-link {
    width: 50%;
}

.hours {
    color: #fff;
    background: $primary-color;
    h2 {
        color: #fff;
    }
}

.contact {
    background: #fff;
}