$body-background: #f6f6f6;
$primary-color: #c0392b;
$base-line: 6px;
$base-line-height: $base-line * 4;
$base-font-size: 16px;
$section-height: $base-line-height * 8;
$start-color: #2c3e50;
$end-color: #34495e;