// foundation settings
@import "settings";

@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "compass";
@import "icons";
@import "variables";
//@import "superslides";
@import "sections";
@import "masonry";

body {
	@media #{$medium-up} {
		border: 20px solid #fff;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

a {
	color: $primary-color;
	&:hover {
		text-decoration: none; 
	}
}

// Custom
.main {
	z-index: 9;
	text-align: center;
}

.header {
	padding: 3em 0;
	background: #f6f6f6;
}


h1 {
	color: $primary-color;
	border: 10px solid $primary-color;
	display: inline-block;
	margin: 0;
	padding: rem-calc(16);
}

.slogan {
	font-size: $base-font-size + 10;
	font-family: 'Bree Serif', serif;
	margin-bottom: 0; 
}

.def-list {
	li {
	}
	h3 {
		font-size: $base-font-size;
		display: inline;
	}
}


.map-link {
	background: #fff url('http://maps.googleapis.com/maps/api/staticmap?center=David%20Blidsgate%2017&zoom=12&size=500x180&sensor=false&visual_refresh=true&markers=59.553163,11.32595&scale=2') no-repeat center center;
	background-size: cover;
	color: $primary-color;
	font-size: $base-font-size + 8;
	line-height: $section-height - $base-line-height;
	font-weight: bold;
}

.unstyled {
	list-style: none;
	padding: 0;
}