.Container {
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 100vh; }
  .Container:before, .Container:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0; }
  .Container:before {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    height: 50vh;
    bottom: 0; }
  .Container:after {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    top: 0; }

.Heading {
  font-size: 2em;
  color: #fff; }
  @media (min-width: 768px) {
    .Heading {
      font-size: 3em; } }

.Slogan {
  font-size: 1.2em; }
  @media (min-width: 768px) {
    .Slogan {
      font-size: 2em; } }

.CoverImage {
  background-image: url("../images/galleri/3.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh; }
  .CoverImage-content {
    position: relative;
    z-index: 1;
    padding: 1em; }
    @media (min-width: 768px) {
      .CoverImage-content {
        padding-top: 10em;
        padding-left: 10em; } }

.MasonryImages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100vw; }
  .MasonryImages-img {
    width: 33.33333%; }

@media screen and (max-width: 500px) {
  .MasonryImages {
    height: 200vw; }

  .MasonryImages-img {
    width: 50%; } }
body {
  font-family: 'Lato', sans-serif;
  color: #f6f6f6;
  line-height: 1.4; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

.def-list {
  list-style: none;
  padding-left: 0; }
  .def-list h3 {
    font-size: 1rem;
    display: inline; }
