// foundation settings
//@import "settings";

//@import "icons";
@import "variables";
@import "mixins/breakpoint";
@import "Container";
@import "Header";
@import "Heading";
@import "Slogan";
@import "CoverImage";
@import "MasonryImages";

body {
  font-family: 'Lato', sans-serif;
  color: #f6f6f6;
  line-height: 1.4;
}

a {
	color: #fff;
	&:hover {
		text-decoration: none;
	}
}


.def-list {
  list-style: none;
  padding-left: 0;
	h3 {
		font-size: 1rem;
		display: inline;
	}
}
