.Container {
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 100vh; }
  .Container:before, .Container:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0; }
  .Container:before {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    height: 50vh;
    bottom: 0; }
  .Container:after {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    top: 0; }

.Header {
  margin-bottom: 2em; }

.Heading {
  font-size: 2em;
  color: #fff;
  margin-top: .5em;
  margin-bottom: .33em;
  font-weight: 600; }

.Slogan {
  font-size: 1.2em;
  margin-top: 0; }

.CoverImage {
  background-image: url("../images/galleri/5.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh; }
  .CoverImage-content {
    position: relative;
    z-index: 1;
    padding: 1em; }
    @media (min-width: 768px) {
      .CoverImage-content {
        padding: 2em; } }
    @media (min-width: 992px) {
      .CoverImage-content {
        padding: 4em; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: #f6f6f6;
  line-height: 1.4;
  font-weight: 300; }
  @media (min-width: 768px) {
    body {
      font-size: 1.4em; } }

h2 {
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: .3em;
  letter-spacing: .05em;
  font-weight: 300; }
  @media (min-width: 768px) {
    h2 {
      font-size: .6em; } }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

.def-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0; }
  .def-list h3 {
    font-size: 1em;
    display: inline-block;
    min-width: 4.5em;
    margin: 0;
    font-weight: 600; }
